body {
    
}

#four {
    width:100px;
    height:40px;
    background-color: blue;
    -webkit-animation-name: nomoon; 
    animation: nommon;
    animation-duration: 4s;
    
    
}

)
@-webkit-keyframes nomoon {
    0% {background-color: blue;}
    50% {background-color: green;}
    100% {background-color: purple;}
}

@keyframes nommon {
    0% {background-color: blue;}
    50% {background-color: green;}
    100% {background-color: purple;}
}
